<h2>Dog Overview</h2>
 <%= link_to "Create New Event", new_owner_event_path %>

<div class="bannerbox">

   <% @owners.each do |h| %>
     <div class="banners">
      <h3><a href="/events/<%= h.id %>"><%= h.name %></a></h3>
     <img src="<%= h.event_img %>"/>
     </div>
   <% end %>



</div>
