<h2> <%= @event.name %> </h2>
<%= link_to "Back to #{@event.owner.name}", owner_path(@event.owner_id) %>

<%= link_to "Edit/Delete", edit_owner_event_path(@event.owner_id, @event) %>

<p> attendances </p>
<% @attendances.each do |attend| %>
<%=attend.dog.name%>
<% end %>
