/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* assets/stylesheets */

body{
  font-family:verdana;
  background-color: #b39b00;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
  align-content: center;
  justify-content: center;
  text-align: center;
}
 .flexbox-container {
   display: inline-flex;
   align-items: center;
 }

.bannerbox {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}
.banners {
  display: flex;
  flex-direction: column;
  align-items: center;
}
