/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* assets/stylesheets */

body{
  font-family:verdana;
  background-color: #800000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  align-content: center;
  justify-content: center;
  text-align: center;
}

.bannerbox {

  display: inline-block;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: auto;
}
.banners {
  display: inline-grid;
  flex-direction: row;
  align-items: center;
  padding: auto;

}
