/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* assets/stylesheets */
h1{
  color: #AC3B61;
}
h2{
  color: #AC3B61;
}
p{
  color: #AC3B61;
}
h3 {
  color: #240090;
   align-items: center;
   width: 820px;
   border: 5px;
   padding: 10px;
   margin: auto;
}
img {
    width: 460px;
    border:1px solid #123c69;
}

 li {
     display: inline;
 }
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

body{
  font-family: 'Varela Round', sans-serif;
  background-color: #C1C8E4;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.flex-grid {
  width: 460px;
}
